nav {
  color: #fff;
  background: #ffb93a;
}

nav a {
  color: black !important;
}

.link {
  text-decoration: none !important;
  color: #212529;
}

.link:hover {
  color: black;
}

body {
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode: lighten; */
}
